

body {
	
		padding: 0;
		margin: auto;
	
	
	}


header {
		background-color: #61574d; /*#bd9a8d;*/
		padding: 20px;
		text-align: center;
		font-family: poiret-one, serif;
		font-weight: lighter;
		text-shadow: 0 1px 0 rgba(0,0,0,0.5);

}
header h1 {

		color: white;
		font-family: 'Inconsolata';
}

a {
		text-decoration: none;
		color: grey;
		
}


.im-col-l{
		max-width: 200px;
		float: left;
		padding-left: 60px;
		
}
.im-col-r {
		max-width: 200px;
		float: right;
		padding-right: 60px;
		}


.img-le {
		max-width: 100%;
		
		}
		
.img-ri {
		max-width: 100%;
		
		
}
figcaption {
		color: grey;
		font-family: 'Inconsolata';
		text-align: center;
		padding-left: 10px;
}
.content {
		position: relative;
		width: 95%;
    	max-width: 640px;
		margin: 0 auto;

}

.content h1 {
		font-family: 'Inconsolata';
		color: #4e4e4e;;
		text-align: center;
		font-size: 35px;
		font-weight: bold;
		
}
.content p{
		font-family: 'Inconsolata';
		color: #4e4e4e;;
		text-align: justify;
		font-size: 20px;
		font-weight: lighter;
		line-height: 40px;
		
}

ul#navigation
{
	list-style-type: none;
	margin: 0;
	padding: .5em 0;
	/*border-top: 1px solid #666;*/
}

ul#navigation li a
{
	display: block;
	width: 5em;
	color: white;
	background-color: grey;
	padding: .2em 0;
	text-align: center;
	text-decoration: none;
	font-family: 'Inconsolata';
	
}

ul#navigation li a:hover
{
	color: #FFF;
	background-color: #69C;
}

ul#navigation .left { float: left; }
ul#navigation .right { float: right; }

footer {
		height: 50px;
		width: device-width;
		background-color: grey;
		border-top: 60px solid white;
}

footer p {
		font-family: 'Inconsolata';
		color:white;
		padding-left: 40px;
		padding-top: 10px;
}







