/*
 * Default styles
 */
@media screen {

html {
	background-color: #ede5be;
}

body {
	background-color: #ede5be;
	padding: 0;
	margin: auto;
	
	
	}


header {
	background-color: #bd9a8d;
	padding: 20px;
	text-align: center;
	font-family: poiret-one, serif;
	font-weight: lighter;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);

}

#content {
	font-family: marvel, serif;
		margin-left: 10px;
		margin-right: 10px;
		text-align: justify;
		font-weight: lighter;
		font-size: 20px;
		line-height: 25px;
		letter-spacing: 1px;
		color: #252320;
		}

img {

		max-width: 100%;
		}
		
        figcaption {
                text-align:center;
                font-family: marvel, serif;
                color: #252320;
                
        }

header h1 {
	margin: 0;
	font-family: poiret-one, serif;
	color: #ede5be; 
	letter-spacing: 1px;
	font-size: 50px;
	font-weight: lighter;
}

h2 {
	margin: 0;
	font-family: marvel, serif;
	letter-spacing: 1px;
	font-size: 40px;
	font-weight: lighter;
	}
	
nav {

	padding-top: 0;
	padding-bottom: 0;
	text-align: center;
	background-color: #a59167;
	color: #ede5be;
		}
		
		nav a {
	display: block;
	padding: 0;
	font-family: poiret-one, serif;
	
}

a {
color: #ede5be; 
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	}

nav ul {
	list-style: none;
	padding-left: 0;
	text-align: right;
}

nav li {
	display: inline;
	padding: 0;
}


nav a:link {
color: #ede5be;
text-decoration:none;
text-shadow: none;


}    

nav a:visited {
color: #ede5be;
text-decoration:none;

} 

nav a:hover {
color: #758ca8;
text-decoration:none;

}   

nav a:active {
color: #758ca8;
text-decoration:none;
} 



blockquote {

		font-family: la-belle-aurore, serif;
		color: #0b4761;
		}
		
footer {
	background-color: #a59167;
	color: #ede5be;
	padding: 10px;
	font-family: poiret-one, serif;

clear:both;
}
}
/*
 * 500px and wider
 */
@media screen and (min-width: 500px) {

html {
	background-color: white;
}
body {
	background-color: #ede5be;
	padding: 0;
	margin: auto;
	
	
	}
header {
	background-color: #61574d; /*4a3d2c; /*442e07/*758ca8*/; /*#bd9a8d;*/
	padding: 20px;
	text-align: center;
	font-family: poiret-one, serif;
	/*font-weight: lighter;*/

}


	
header h1 {
	margin: 0;
	font-family: poiret-one, serif;
	color: #ede5be;
	letter-spacing: 1px;
	font-size: 70px;
	/*font-weight: bold;*/
}

h2 {
	margin: 0;
	font-family: poiret-one, serif;
	letter-spacing: 1px;
	font-size: 30px;
	font-weight: lighter;
	text-align: center;
	padding: 30px;
	}

nav {
	
	font-family: poiret-one, serif;
	color: #ede5be;
	padding-top: 1px;
	padding-bottom: 5px;
margin: -10px;
	text-align: center;
	background-color: #a59167;
 font-size: 20px;

}

nav ul {
	list-style: none;
	padding-left: 0;
	text-align: right;
}

nav a {
	display: block;
	padding: 0;
	font-family: poiret-one, serif;
	float: right;
	/*font-weight: bold;*/
	 font-size: 25px;
}

nav li {
	display: inline;
	padding: 0;
}


nav a:link {
color: #758ca8;
text-decoration:none;

}    

nav a:visited {
color: #758ca8;
text-decoration:none;
} 

nav a:hover {
color: #0b4761;
text-decoration:none;
}   

nav a:active {
color: #758ca8;
text-decoration:none;
} 

	

	img {

		max-width: 100%;
		float: left;
		 display: table;
		}
		

		 figcaption {
                text-align: center;
                
               
                
        }
        
        
blockquote {

		font-family: la-belle-aurore, serif;
		color: #0b4761;
		}
		
	
#content {
	
	float: right;
	width: 45%;
	font-family: marvel, serif;
text-align: justify;
font-size: 18px;
line-height: 20px;
letter-spacing: 1px;
margin-right: 50px;
margin-left: -50px;
padding-right: 50px;
color: #252320;
font-weight: lighter;
}

	
#content1 {
	float: right;
	width: 70%;
	font-family: marvel, serif;
text-align: justify;
font-size: 18px;
line-height: 20px;
letter-spacing: 1px;
margin-left: 100px;
margin-right: 100px;
padding-right: 100px;
color: #252320;
font-weight: lighter;


}
#gallery {

width: 90%;
font-family: marvel, serif;
text-align: justify;
font-size: 18px;
line-height: 20px;
letter-spacing: 1px;
margin-right: 50px;
	margin-left: 70px;
		color: #252320;
}

#content2 {
	float: left;
	width: 40%;
	font-family: marvel, serif;
text-align: justify;
font-size: 18px;
line-height: 20px;
letter-spacing: 1px;
margin-right: 50px;
margin-left: 50px;
color: #252320;
font-weight: lighter;
}

#column1 {
float: left;
width: 35%;
margin-right: -50px;
padding-left: 100px;
padding-top: 50px;
color: #805140;
font-weight: lighter;
}

#column2 {
float: right;
width: 35%;
margin: 50px;
padding: 30px;
font-weight: lighter;
}


.clear {
clear: both;
}

div.figure-small {

  width: 70%;
float: right;

}

 
 a {
 color: #ede5be; 
	
	}
 


div.figure {
  float: right;
  width: 80%;

}
div.figure p {
  text-align: center;
  font-style: italic;
  font-size: smaller;
  text-indent: 0;
}

figure {
  display: block;
  position: relative;
 
  overflow: hidden;
  margin: 0 20px 20px 0;
  max-width: 100%;
}

figcaption {
  position: absolute;
  background: #805140;
  background: rgba(117, 140, 168, 0.75);
  
  font-family: marvel, serif;
                color: #ede5be;
  padding: 10px 20px;
  opacity: 0;
  -webkit-transition: all 0.6s ease;
  -moz-transition:    all 0.6s ease;
  -o-transition:      all 0.6s ease;
}
figure:hover figcaption {
  opacity: 1;
}
figure:before {
  content: "i";
  position: absolute;
  font-weight: 800;
  background: #805140;
  background: rgba(255,255,255,0.75);
  text-shadow: 0 0 5px white;
  color: #805140;
  width: 24px;
  height: 24px;
  -webkit-border-radius: 12px;
  -moz-border-radius:    12px;
  border-radius:         12px;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  -moz-transition: all 0.6s ease;
  opacity: 0.75;
}
figure:hover:before {
  opacity: 0;
}

.cap-left:before {  bottom: 10px; left: 10px; }
.cap-left figcaption { bottom: 0; left: -30%; }
.cap-left:hover figcaption { left: 0; }

.cap-right:before { bottom: 10px; right: 10px; }
.cap-right figcaption { bottom: 0; right: -30%; }
.cap-right:hover figcaption { right: 0; }

.cap-top:before { top: 10px; left: 10px; }
.cap-top figcaption { left: 0; top: -30%; }
.cap-top:hover figcaption { top: 0; }

.cap-bot:before { bottom: 10px; left: 10px; }
.cap-bot figcaption { left: 0; bottom: -30%;}
.cap-bot:hover figcaption { bottom: 0; }

		
footer {
	background-color: #a59167;
	color: #ede5be;
	padding: 10px;
font-family: poiret-one, serif;

clear:both;
}

#container {
    width: 1000px;
    margin: 50px auto;
    padding-top: 50px;
    padding-left: 30px;
}

/* -- start page curl css -- */
/* original page curl styling by Matt Hamm, Cameron Moll and Nicolas Gallagher from http://www.matthamm.com/box-shadow-curl.html */

ul.gallery {
    position: relative;
    z-index: 1; /* prevent shadows falling behind containers with backgrounds */
    overflow: visible;
    list-style: none;
    margin: 0;
    padding: 0;
}

ul.gallery li {
    position: relative;
    float: left;
    width: 300px;
    height: 200px;
    padding: 0;
    border: 1px solid #efefef;
    margin: 0 30px 30px 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
    box-shadow: 0 1px 4px rgba(0, 0, 0, 0.27), 0 0 40px rgba(0, 0, 0, 0.06) inset;
}

ul.gallery li:before, ul.gallery li:after {
    content: '';
    z-index: -1;
    position: absolute;
    left: 10px;
    bottom: 10px;
    width: 70%;
    max-width: 300px; /* avoid rotation causing ugly appearance at large container widths */
    height: 55%;
    -webkit-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    -webkit-transform: skew(-20deg) rotate(-8deg);
    -moz-transform: skew(-20deg) rotate(-8deg);
    -ms-transform: skew(-20deg) rotate(-8deg);
    -o-transform: skew(-20deg) rotate(-8deg);
    transform: skew(-20deg) rotate(-8deg);
}

ul.gallery li:after {
    left: auto;
    right: 10px;
    -webkit-transform: skew(20deg) rotate(8deg);
    -moz-transform: skew(20deg) rotate(8deg);
    -ms-transform: skew(20deg) rotate(8deg);
    -o-transform: skew(20deg) rotate(8deg);
    transform: skew(20deg) rotate(8deg);
}

/* -- end page curl css -- */

ul.gallery li:hover {
    border: 1px solid rgba(0, 127, 255, 0.15);
    -webkit-box-shadow: 0 2px 8px rgba(0, 127, 255, 0.27), 0 0 40px rgba(0, 127, 255, 0.27) inset;
    -moz-box-shadow: 0 2px 8px rgba(0, 127, 255, 0.27), 0 0 40px rgba(0, 127, 255, 0.27) inset;
    box-shadow: 0 2px 8px rgba(0, 127, 255, 0.27), 0 0 40px rgba(0, 127, 255, 0.27) inset;
    -webkit-transition: all 0.3s ease-in-out;
    -moz-transition: all 0.3s ease-in-out;
    -o-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

ul.gallery li img {
    max-width: 100%;
    padding: 0;
    opacity:0.;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=30)"; /* IE8 hack */
    filter: allpha(opacity = 30); /* IE5-7 hack */
}

ul.gallery li img:hover {
    opacity:0.7;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=70)"; /* IE8 hack */
    filter: allpha(opacity = 70); /* IE5-7 hack */
    -webkit-transition: opacity 0.3s ease-in-out;
    -moz-transition: opacity 0.3s ease-in-out;
    -o-transition: opacity 0.3s ease-in-out;
    transition: opacity 0.3s ease-in-out;
}


.image-box-wrapper {
  width:642px;
  margin:50px auto;
  padding-top: 70px;
}

.image-box {
  width:210px;
  height:210px;
  overflow:hidden;
  background-color: #ede5be;
  border:1px solid #ccc;
  float:left;
  margin:1px 1px;
  font:normal normal 12px/1.4 herculanum;
  color: #333;
}

.image-container,
.image-details {
  height:150px;
  border:5px solid white;
  background-color: #ede5be;
  transition:margin-top .4s ease-out .4s;
}

.image-container img {
  width:200px;
  height:200px;
  padding:0 0;
  margin:0 0;
  border:none;
  outline:none;
  max-width:none;
  max-height:none;
  background-color: #758ca8;
}

.image-details h4,
.image-details p {
  margin:0 0 .2em;
  padding:0 0;
  height:70px;
}

.image-details h4 {
  font-size:120%;
  height:auto;
}

.image-details .details {
  padding:10px 12px;
  overflow:hidden;
}

.image-details .more {
  color: white;
  text-decoration:none;
  display:block;
  text-align:center;
  font-weight:bold;
  background-color: #758ca8;
  height:26px;
  line-height:26px;
  margin:10px 0 0;
}

.image-box:hover {border-color:#bbb}
.image-box:hover .image-container {margin-top:-160px}
.image-details .more:hover {background-color:#758ca8}


a.fullscreen {
color: #758ca8;
text-align: center;
font-size: 20px;
}
a.fullscreen:hover {
color: #0b4761;
text-decoration:none;
}   

.hot-container p { margin-top: 10px; }
a { text-decoration: none; margin: 20px 10px; }

.hot-container {

	min-height: 100px;
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

a.btn {
	display: table;
	color: #ede5be;
	background-color: #a9925d;
	text-transform: uppercase;
	letter-spacing: 2px;
	font-size: 18px;
	padding: 10px 30px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border: 1px solid rgba(0,0,0,0.3);
	border-bottom-width: 3px;
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
}

	a.btn:hover {
		background-color: #758ca8;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn:active {
		background-color: #CCC;
		border-color: rgba(0,0,0,0.9);
	}

/* blue button */

a.btn.btn-blue {
	background-color: #a9925d;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: ede5be;
}

	a.btn.btn-blue:hover {
		background-color: #758ca8;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-blue:active {
		background-color: #3C677B;
		border-color: rgba(0,0,0,0.9);
	}

/* red button */

a.btn.btn-red {
	background-color: #a9925d;
	border-color: rgba(0,0,0,0.3);
	text-shadow: 0 1px 0 rgba(0,0,0,0.5);
	color: #ede5be;
}

	a.btn.btn-red:hover {
		background-color: #758ca8;
		border-color: rgba(0,0,0,0.5);
	}
	
	a.btn.btn-red:active {
		background-color: #ede5be;
		border-color: rgba(0,0,0,0.9);
	}
}
/*
 * 768px and wider
 */
@media screen and (min-width: 768px) {



}


/*
 * Print styles
 */
@media print {



}