/*
 * Default styles
 */
@media screen {

html {
	background-color: black;
}

body {
	background-color: white;
	padding: 40px;
	}
	

header {
	background-color:
	#66C;
	padding: 10px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;
	
}

#content {
		font-family: 'Antic', sans-serif;
		
		}



header h1 {
	margin: 0;
	font-family: 'Julius Sans One', sans-serif;
	color: white; 
}
nav {
	
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
		}
nav ul {
	list-style: none;
	padding-left: 0;
}

nav li {
	display: inline;
	padding: 10px;
}
}
/*
 * 500px and wider
 */
@media screen and (min-width: 500px) {

nav {
	float: left;
	width: 30%;
	font-family: 'Julius Sans One', sans-serif;

}

nav a {
	display: block;
	padding: 10px;
	font-family: 'Julius Sans One', sans-serif;
}

#content {
	float: right;
	width: 70%;
	font-family: 'Antic', sans-serif;
text-align: justify;
font-size: 15px;
line-height: 25px;


}
footer {
	clear: both;
}

}
/*
 * 768px and wider
 */
@media screen and (min-width: 768px) {



}


/*
 * Print styles
 */
@media print {



}