/*
 * Default styles
 */
@media screen {

html {
	background-color: white;
}

body {
	background-color: white;
	padding: 0px;
	margin: auto;
	
	
	}


header {
	background-color: #7D7779;
	padding: 20px;
	text-align: center;
	font-family: 'Julius Sans One', sans-serif;

}

#content {
		font-family: 'Antic', sans-serif;
		margin-left: 10px;
		margin-right: 10px;
		text-align: justify;
		font-weight: lighter;
		font-size: 20px;
		line-height: 30px;
		letter-spacing: 1px;
		}

img {

		max-width: 100%;
		}
		
        figcaption {
                text-align:center;
        }

header h1 {
	margin: 0;
	font-family: 'Julius Sans One', sans-serif;
	color: white; 
	letter-spacing: 1px;
}

header h2 {

		color: white;
}
nav {

	padding-top: 10px;
	padding-bottom: 10px;
	text-align: center;
		}
		
		nav a {
	display: block;
	padding: 10px;
	font-family: 'Julius Sans One', sans-serif;
}

nav ul {
	list-style: none;
	padding-left: 0;
}

nav li {
	display: inline;
	padding: 10px;
}


nav a:link {
color: orange;

}    

nav a:visited {
color: brown;
} 

nav a:hover {
color:red; 
}   

nav a:active {
color: yellow;
} 

blockquote {

		font-family: 'La Belle Aurore', cursive;
		}
		
footer {
	background-color: #7D7779;
	color: white;
	padding: 10px;
	font-family: 'Julius Sans One', sans-serif;


}
}
/*
 * 500px and wider
 */
@media screen and (min-width: 500px) {

html {
	background-color: #918D8F;
}

nav {
	float: left;
	width: 30%;
	font-family: 'Julius Sans One', sans-serif;

}

nav a {
	display: block;
	padding: 10px;
	font-family: 'Julius Sans One', sans-serif;
}

body {
	background-color: white;
	padding: 20px;
	margin: 20px;
	border: solid 7px #F2844E;
	}
	
#content {
	float: right;
	width: 70%;
	font-family: 'Antic', sans-serif;
text-align: justify;
font-size: 20px;
line-height: 30px;
letter-spacing: 1px;
}

img {

		max-width: 100%;
		}



}
/*
 * 768px and wider
 */
@media screen and (min-width: 768px) {



}


/*
 * Print styles
 */
@media print {



}